<div class="swiper-slide top-slide">
    <div class="top-slide__info flex --align-center --just-space">
        <div class="top-slide__descr">
            <h2 class="top-slide__descr-title">
                Life is better in running <strong class="orange">shoes</strong>.
            </h2>
            <p class="top-slide__descr-text">
                @@description
            </p>
        </div>
        <div class="top-slide__picture">
            <div class="top-slide__picture-background"></div>
            <img class="top-slide__picture-main"
                 src="img/@@picture.link.png"
                 alt="@@picture.alt">
            </img>
        </div>
    </div>
    <div class="top-slide__options flex --align-center --just-space">
        <div class="top-slide__options-info">
            <p class="top-slide__options-info__title">
                Brand
            </p>
            <p class="top-slide__options-info__descr"><b> @@brand <span><svg width="14"
                             height="8"
                             viewBox="0 0 14 8"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.4"
                                  d="M1 1L7 7L13 1"
                                  stroke="#EE5514"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg></span></b>
            </p>
        </div>
        <div class="top-slide__options-info">
            <p class="top-slide__options-info__title">
                Person
            </p>
            <b><p class="top-slide__options-info__descr">
                @@person <span><svg width="14"
                         height="8"
                         viewBox="0 0 14 8"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4"
                              d="M1 1L7 7L13 1"
                              stroke="#EE5514"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg></span>
            </p></b>
        </div>
        <div class="top-slide__options-info">
            <p class="top-slide__options-info__title">
                Size
            </p>
            <b><p class="top-slide__options-info__descr">
                @@size <span><svg width="14"
                         height="8"
                         viewBox="0 0 14 8"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4"
                              d="M1 1L7 7L13 1"
                              stroke="#EE5514"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg></span>
            </p></b>
        </div>
        <div class="top-slide__options-info">
            <p class="top-slide__options-info__title">
                Price
            </p>
            <b><p class="top-slide__options-info__descr">
                $@@price <span><svg width="14"
                         height="8"
                         viewBox="0 0 14 8"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4"
                              d="M1 1L7 7L13 1"
                              stroke="#EE5514"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg></span>
            </p></b>
        </div>
        <button class="top-slide__options-btn">Buy now</button>
    </div>
</div>