:root {
    --main__color: #EE5514;
    --background__color: #f7cfbf;
    --background__secondary-color: #ffe1d5;
    --black__color: #000;
    --white__color: #fff; 
    --shadow__main: 0px 1px 14px rgba(26, 10, 3, 0.05);
}
