.smenu {
    position: relative;
    &__wrapper {
        position: absolute;
        left: -14rem;
        top: -9rem;
        width: 74rem;
        height: 40rem;
        background: linear-gradient(-75deg, transparent 12rem, var(--main__color) 20%, rgba(238, 85, 20, 0) 300%);
        opacity: 0.1;
        z-index: -1;
    }
    &__top-slider__prev {
        display: none;
            background-color: var(--background__secondary-color);
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            color: var(--black__color);
            top: 10rem;
            @include btn_anim;
    }
    &__top-slider__next {
        background-color: var(--background__secondary-color);
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        color: var(--black__color);
        top: 10rem;
        @include btn_anim;
}
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .smenu {
        &__wrapper {
            left: 0;
            top: 0;
            width: 100%;
            height: 48rem;
            background: var(--main__color);
        }
        &__top-slider__prev {
            display: flex;
            top: 50%;
        }
        &__top-slider__next {
            top: 50%;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {
    .smenu {
        &__wrapper {
            left: 0;
            top: 0;
            width: 100%;
            height: 44rem;
            background: var(--main__color);
        }
        &__top-slider__prev {
            display: flex;
            background-color: transparent;
            top: 40%;
        }
        &__top-slider__next {
            background-color: transparent;
            top: 40%;
        }
    }
}