.smenu {
    position: relative;
    &__wrapper {
        position: absolute;
        left: -14rem;
        top: -9rem;
        width: 74rem;
        height: 40rem;
        background: linear-gradient(-75deg, transparent 12rem, var(--main__color) 20%, rgba(238, 85, 20, 0) 300%);
        opacity: 0.1;
        z-index: -1;
    }
    &__top-slider__button {
            background-color: var(--background__secondary-color);
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            color: var(--black__color);
            top: 10rem;
            @include btn_anim;
    }
}