.testimonials {
    &__title {
        text-align: center;
        margin-top: 8rem;
        font-size: 3rem;
    }
    &__container {
        margin-top: 4rem;
    }
    &__comments {
        margin-left: 3rem;
    }
    &__sign {
        margin-top: 8rem;
        height: 21rem;
        &-picture {
            height: 100%;
            border-radius: 0.5rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &-feedback {
            height: 100%;
            background-color: rgba(129, 168, 218, 0.1);
            padding: 4rem;
        }
        &-title {
            font-size: 2rem;
            width: 100%;
        }
        &-text {
            line-height: 2rem;
            font-size: 1.1rem;
        }
        &-area {
            width: 100%;
        }
        &-input {
            background-color: rgba(129, 168, 218, 0.1);
            width: 100%;
            padding: 0.9rem 2rem;
            border-color: rgba(203, 226, 255, 0.1);
        }
        &-btn {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}
.swiper__testimonials-slider {
    width: 30rem;
    &__prev {
        display: block;
        text-align: center;
        border-radius: 50%;
        background-color: var(--background__color);
        width: 3rem;
        height: 3rem;
        left: 20rem;
        top: 3rem;
        color: var(--black__color);
        &::after {
            font-size: 1.5rem;
            line-height: 3rem;
        }
    }
    &__next {
        display: block;
        text-align: center;
        border-radius: 50%;
        background-color: var(--background__color);
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        top: 3rem;
        color: var(--black__color);
        &::after {
            font-size: 1.5rem;
            line-height: 3rem;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .testimonials {
        &__container {
            margin-top: 4rem;
            flex-direction: column;
        }
        &__comments {
            margin-left: 0;
            margin-top: 3rem;
        }
        &__sign {
            margin: 0 auto;
            width: 31rem;
            margin-top: 2rem;
            min-height: 40rem;
            flex-direction: column;
            &-picture {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            &-feedback {
                width: inherit;
                background-color: rgba(129, 168, 218, 0.1);
                padding: 2rem;
            }
            &-picture {
                width: inherit;
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {
    .testimonials {
        &__picture {
            width: 20rem;
            img {
                width: 20rem;
            }
        }
        &__container {
            margin-top: 4rem;
            flex-direction: column;
        }
        &__comments {
            margin-left: 0;
            margin-top: 3rem;
        }
        &__sign {
            margin: 0 auto;
            width: 20rem;
            margin-top: 2rem;
            min-height: 40rem;
            flex-direction: column;
            &-picture {
                width: inherit;
                height: 15rem;
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
            }
            &-feedback {
                width: inherit;
                background-color: rgba(129, 168, 218, 0.1);
                padding: 2rem;
            }
            &-input {
                height: 3rem;
                padding: 0.5rem;
                font-size: 0.6rem;
            }
            &-btn {
                height: 3rem;
            }
        }
    }
    .swiper__testimonials-slider {
        width: 20rem;
        &__prev {
            left: 10rem;
        }
    }
}