<header class="header flex --align-center --just-">
    <a href=""
       class="header__logo">
        @@include('../bem-blocks/logo/_logo.html')
    </a>
    <div class="header__icon">
        <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="36px" height="36px"><path d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"/></svg>
    </div>
    <nav class="header__menu">
        @@include('../bem-blocks/menu/_menu.html')
    </nav>
    @@include("../bem-blocks/button/_button.html", {
    "class":{
    "bem__elem":"header__btn"
    },
    "type":"button",
    "text":"Buy now"
    })
</header>