<section class="about" id="about">
    <div class="about__container flex --align-center --just-space">
        <div class="about__info">
            <h4 class="about__info-subtitle">
                VIDEO
            </h4>
            <h2 class="about__info-title">
                Desire the feel of satisfaction.
            </h2>
            <p class="about__info-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas leo ultrices commauris risus.
            </p>
        </div>
        <div class="about__video">
            <div class="about__video-background">
                <img src="img/video_background_shadow.png" alt="video_background">
            </div>
            <div class="about__video-main">
                <img src="img/video_background.png" alt="video">
                <img class="about__video-main__play" src="img/play.png" alt="play">
            </div>
            <div class="youtube__container">
                <iframe class="youtube"></iframe>
            </div>
        </div>
    </div>
</section>